@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Medium.ttf') format(ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spot';
  src: url('/public/fonts/Spot-Normal.ttf') format(ttf);
  font-weight: bold;
  font-style: normal; 
}

body {
  margin: 0;
  font-family:'Poppins', 'Spot', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
